.link {
    &:hover {
        opacity: 0.7;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.invertedPrimary {
    color: var(--invert-primary-color);
}

.invertedSecondary {
    color: var(--invert-secondary-color);
}
