.app_dark_theme {
    --primary-color: rgb(59 247 34 / 81.6%);
    --secondary-color: rgb(10 109 10);
    --bg-color: rgb(20 20 199);
    --invert-bg-color: rgb(242 246 242);
    --invert-primary-color: rgb(17 49 146 / 97.4%);
    --invert-secondary-color: rgb(21 123 178);
    --skeleton-shadow: rgb(22 22 100);
    --skeleton-bg: rgb(85 85 238);
    --code-bg: rgb(175 175 248 / 20.2%);
}
