.app_green_theme {
    --primary-color: #f4fbf7;
    --secondary-color: #4d6b47;
    --bg-color: #578369;
    --invert-bg-color: #f4fbf7;
    --invert-primary-color: #578369;
    --invert-secondary-color: #4d6b47;
    --skeleton-shadow: #5e6a63;
    --skeleton-bg: #8cb09b;
    --code-bg: #b7bbb9;
}
