.light {
  --primary-color: rgba(1, 5, 1, 0.974);
  --secondary-color: rgb(2, 41, 62);
  --bg-color: rgb(218, 240, 236);
  --invert-bg-color: rgb(20, 20, 199);
  --invert-primary-color: rgba(59, 247, 34, 0.816);
  --invert-secondary-color: rgb(10, 109, 10);
}
