.app_light_theme {
    --primary-color: rgb(17 49 146 / 97.4%);
    --secondary-color: rgb(21 123 178);
    --bg-color: rgb(242 246 242);
    --invert-bg-color: rgb(20 20 199);
    --invert-primary-color: rgb(59 247 34 / 81.6%);
    --invert-secondary-color: rgb(10 109 10);
}
