.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: var(--invert-bg-color);
  // justify-content: end;
  align-items: center;
  padding: 0 10px;
}
.navbarLink {
  text-decoration: none;
  color: var(--invert-primary-color);
}
.wrapperLink {
  margin-left: auto;
  display: flex;
  column-gap: 10px;
}
