.container {
    display: flex;
    align-items: center;
}

.select {
    background-color: var(--bg-color);
    padding: 3px;
    outline: none;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}

.label {
    display: inline-block;
    margin-right: 10px;
}

.options {
    background-color: var(--invert-bg-color);
    color: var(--invert-primary-color);
    border-radius: 10px;

    &:hover {
        color: var(--bg-color);
    }
}
