.button {
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    cursor: pointer;
}

.clear {
    outline: none;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.inverted {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--invert-bg-color);
}

.primary {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-color, black);
}
